html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: var(--background);
}

.reset-zoom {
    position: absolute;
    min-width: 87px;
    min-height: 22px;
    right: 130px;
    top: 10px;
}

@media print {
    canvas {
        max-width: 100% !important;
        max-height: 100% !important;
        height: auto !important;
        width: auto !important;
    }
}
